<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.2.xsd
">
	<!-- initialize authentication -->
	<security:user-service id="Service">
		<security:user name="user" authorities="ROLE_USER"
			password="12345" />
		<security:user name="phucAdmin"
			authorities="ROLE_USER, ROLE_ADMIN" password="12345" />
	</security:user-service>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="Service" />
	</security:authentication-manager>

	<!-- -->
	<security:http auto-config="true">
	 
	        <security:form-login 
            username-parameter="username"
            password-parameter="password"
            login-page="/login"
            authentication-failure-url="/login?error=true"
            authentication-success-forward-url="/admin/"
            login-processing-url="/j_spring_security_check" />
         

		<security:csrf disabled="true" />

		<security:logout delete-cookies="JSESSIONID"
			logout-success-url="/home" />

		<security:intercept-url pattern="/user/*"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/admin/*"
			access="hasRole('ROLE_ADMIN')" />
		<security:logout
			logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID"
			logout-success-url="/home" />
	</security:http>
</beans>
